<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nytimesbits" />
    <meta name="twitter:creator" content="@nickbilton" />
    <meta property="og:url" content="https://phone-book-angular-app.herokuapp.com/" />
    <meta property="og:title" content="A Twitter for My Organization" />
    <meta property="og:description" content="This is a kind of poc for coach profile share with twitter, want to check how link converts into a card" />
    <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/uex.test.app.images-v1/ProfilePictures/1650590199887_20210612051546_Sita_Sita.png" />

    <title>Coach profile Share with twitter</title>
    </head>
<body>
    <h1 style="color: orange;">Welcome to the profile of coach</h1>
</body>
</html>
